@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
  
:root {
    --cor0: #000000;
    --cor1: #FFFFFF;

    --fonte-conteudo: "Sriracha", cursive;
    --fonte-titulo:  "Passion One", sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    min-height: 100vh;
}

article#container {
    background-color: #0000007a;
    padding: 0px 0px 8px 3px;
    height: 650px;
    width: 570px;
    color: #ffffff;
    position: absolute;

    left: 3%;
    top: 10%;
}

article#container2 {
    background-color: #0000007a;
    height: 680px;
    width: 576px;
    color: #ffffff;
    position: absolute;

    left: 50px;
    top: 70px;
}


section.quadrado {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 1000px;
    box-shadow: inset 1px -1px 20px 3px #1f1f1f;
    position: relative;
}

section#q1 p {
    padding: 5px 4px;
    margin: 0px;
}

section#q2 p {
    padding: 5px 4px;
    margin: 0px;
}

section#q1 {
    background-image: url('../imagens/background001.jpg');
    background-position: right bottom;

}

section#q2 {
    background-image: url('../imagens/background002.jpg');
    background-position: center center;
}

header {
    background-color: #000000;
    padding: 80px;
}

header>h1 {
    color: #FFFFFF;
    text-align: center;
    font-family: var(--fonte-titulo);
    font-size: 10em;
}

header>p {
    color:#FFFFFF;
    text-align: center;
    font-size: 1.2em;
}

header a {
    font-weight: bold;
    text-decoration: none;
    color: #FFFFFF;
}

main {
    min-width: 1000px;
}
main p {
    max-width: 600px;
    font-size: 3em;
    font-family: var(--fonte-conteudo);
    margin: 100px 0px 150px 30px;
    line-height: 2.0;
}

footer {
    text-align: center;
    background-color: #000000;
    color: #FFFFFF;
    margin: 50px 0px 0px 0px;
    padding: 3px 0px 0px 0px;
    font-size: 1.2em;
}

footer a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
}
